*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}




/*Estilos de productos*/


.card-body{
 display: flex;
 justify-content: center;
}



.card-title{
  
  font-size: 1rem;
  font-weight: 700;
  color: rgb(88, 87, 87);
  text-transform: uppercase;
  text-align: center;
}



.card-text{
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}